<section *ngIf="StateGamesForm">
    <div class="container-fluid">
      <div class="card">
  
        <div class="card-body">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="btn" (click)="LoadGamesDash()">Gestionar Juegos</a>
            </li>
            <li class="nav-item">
              <a class="btn" (click)="LoadUsersDash()">Gestionar Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="btn" href="#">Log Out</a>
            </li>
  
          </ul>
          <hr>
          <div class="container d-flex justify-content-center">
  
            <form [formGroup]="FormAddGame" (ngSubmit)="AddGame()">
  
              <div class="form-row">
  
                <div class="form-group">
  
                  <h5>Id</h5>
                  <input class="form-control " type="text" required placeholder="auto">
                  <br>
                  <h5>Game Name</h5>
                  <input class="form-control" type="text" required formControlName="form_gameName">
                  <br>
                  <h5>Game Description</h5>
                  <textarea class="form-control col-lg-12" type="text" required
                    formControlName="form_gameDescription"></textarea>
                  <br>
                  <h5>Game Category</h5>
                  <select class="form-control" required formControlName="form_gameCategory">
                    <option value="Sandbox">Sandbox</option>
                    <option value="Real-time strategy (RTS)">Real-time strategy (RTS)</option>
                    <option value="Shooters (FPS and TPS)">Shooters (FPS and TPS)</option>
                    <option value="Multiplayer online battle arena (MOBA)">Multiplayer online battle arena (MOBA)</option>
                    <option value="Role-playing (RPG, ARPG, and More)">Role-playing (RPG, ARPG, and More)</option>
                    <option value="Simulation and sports">Simulation and sports</option>
                    <option value="Puzzlers and party games">Puzzlers and party games</option>
                    <option value="Action-adventure">Action-adventure</option>
                    <option value="Survival and horror">Survival and horror</option>
                  </select>
                  <br>
                  <h5>Game Size</h5>
                  <input class="form-control col-lg-12" type="text" required placeholder="example: 1gb"
                    formControlName="form_gameSize">
                  <br>
                  <h5>Game Price</h5>
                  <input class="form-control" type="text" required placeholder="example: 59.99"
                    formControlName="form_gamePrice">
                  <br>
                  <h5>Game Image URL</h5>
                  <input class="form-control" type="text" required placeholder="could be a google image"
                    formControlName="form_gameImageURL">
                  <br>
                  <button class="btn btn-outline-info" type="submit">Add Game</button>
  
                </div>
  
              </div>
  
  
            </form>
  
          </div>
        </div>
      </div>
  
      <hr>
  
      <table class="table table-striped table-responsive mx-auto">
        <thead class="thead-inverse">
          <tr>
            <th>id</th>
            <th>Game name</th>
            <th>Game description</th>
            <th>Game Category</th>
            <th>Game size</th>
            <th>Game price</th>
            <th>Game cover</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of ListGames">
          <tr>
            <td scope="row">{{item?._id}}</td>
            <td>{{item?.gameName}}</td>
            <td>{{item?.gameDescription}}</td>
            <td>{{item?.gameCategory}}</td>
            <td>{{item?.gameSize}}</td>
            <td>${{ item?.gamePrice}}</td>
            <td>
              <img src="{{item?.gameImage}}" alt="cover" width="250px" height="250px">
            </td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId"
                (click)="CaptureGameSelection(item)">
                Edit
              </button>
  
              <!-- Modal -->
              <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form [formGroup]="FormEditGame" (ngSubmit)="UpdateGames(item)">
  
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Edit {{item?.gameName}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="form-group">
  
  
                            <button class="btn btn-outline-danger" (click)="DeleteGameNow()">Delete Game</button>
                            <hr>
  
                            <h5>Name</h5>
                            <input class="form-control" type="text" value="{{SelectedGame[0]?.gameName}}"
                              formControlName="formEdit_name">
                            <h5>Description</h5>
                            <textarea class="form-control" type="text" value="{{SelectedGame[0]?.gameDescription}}"
                              cols="5" rows="5" formControlName="formEdit_description"></textarea>
  
                            <h5>Category Game</h5>
                            <select class="form-control" required formControlName="formEdit_category">
                              <option value="Sandbox">Sandbox</option>
                              <option value="Real-time strategy (RTS)">Real-time strategy (RTS)</option>
                              <option value="Shooters (FPS and TPS)">Shooters (FPS and TPS)</option>
                              <option value="Multiplayer online battle arena (MOBA)">Multiplayer online battle arena
                                (MOBA)
                              </option>
                              <option value="Role-playing (RPG, ARPG, and More)">Role-playing (RPG, ARPG, and More)
                              </option>
                              <option value="Simulation and sports">Simulation and sports</option>
                              <option value="Puzzlers and party games">Puzzlers and party games</option>
                              <option value="Action-adventure">Action-adventure</option>
                              <option value="Survival and horror">Survival and horror</option>
                            </select>
                            <h5>Size</h5>
                            <input class="form-control" type="text" value="{{SelectedGame[0]?.gameSize}}"
                              formControlName="formEdit_size">
                            <h5>Price</h5>
                            <input class="form-control" type="text" value="{{SelectedGame[0]?.gamePrice}}"
                              formControlName="formEdit_price">
                            <h5>Cover URL</h5>
                            <input class="form-control" type="text" value="{{SelectedGame[0]?.gameImage}}" disabled>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                          (click)="LoadGameList()">Close</button>
                        <button type="submit" class="btn btn-primary">Save Game</button>
                      </div>
                    </div>
                  </form>
  
                </div>
              </div>
  
              <script>
                $('#exampleModal').on('show.bs.modal', event => {
                  var button = $(event.relatedTarget);
                  var modal = $(this);
                  // Use above variables to manipulate the DOM
  
                });
              </script>
            </td>
  
          </tr>
  
        </tbody>
      </table>
  
  
    </div>
  
  </section>
  
  <section *ngIf="StateUserForm">
  
    <div class="card">
  
      <div class="card-body">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="btn" (click)="SwitchFormSelected()">Gestionar Juegos</a>
          </li>
          <li class="nav-item">
            <a class="btn" (click)="SwitchFormSelected()">Gestionar Usuarios</a>
          </li>
  
        </ul>
        <hr>
        <div class="container d-flex justify-content-center">
  
          <form [formGroup]="FormAddGame" (ngSubmit)="AddGame()">
  
            <div class="form-row">
  
              <div class="form-group">
  
                <h5>Id</h5>
                <input class="form-control " type="text" required placeholder="auto">
                <br>
                <h5>Game Name</h5>
                <input class="form-control" type="text" required formControlName="form_gameName">
                <br>
                <h5>Game Description</h5>
                <textarea class="form-control col-lg-12" type="text" required
                  formControlName="form_gameDescription"></textarea>
                <br>
                <h5>Game Category</h5>
                <select class="form-control" required formControlName="form_gameCategory">
                  <option value="Sandbox">Sandbox</option>
                  <option value="Real-time strategy (RTS)">Real-time strategy (RTS)</option>
                  <option value="Shooters (FPS and TPS)">Shooters (FPS and TPS)</option>
                  <option value="Multiplayer online battle arena (MOBA)">Multiplayer online battle arena (MOBA)</option>
                  <option value="Role-playing (RPG, ARPG, and More)">Role-playing (RPG, ARPG, and More)</option>
                  <option value="Simulation and sports">Simulation and sports</option>
                  <option value="Puzzlers and party games">Puzzlers and party games</option>
                  <option value="Action-adventure">Action-adventure</option>
                  <option value="Survival and horror">Survival and horror</option>
                </select>
                <br>
                <h5>Game Size</h5>
                <input class="form-control col-lg-12" type="text" required placeholder="example: 1gb"
                  formControlName="form_gameSize">
                <br>
                <h5>Game Price</h5>
                <input class="form-control" type="text" required placeholder="example: 59.99"
                  formControlName="form_gamePrice">
                <br>
                <h5>Game Image URL</h5>
                <input class="form-control" type="text" required placeholder="could be a google image"
                  formControlName="form_gameImageURL">
                <br>
                <button class="btn btn-outline-info" type="submit">Add Game</button>
  
              </div>
  
            </div>
  
  
          </form>
  
        </div>
      </div>
    </div>
  
  </section>