<div id="preloder">
    <div class="loader"></div>
</div>

<header class="header-section">
    <div class="container">

        <a class="site-logo" href="#">
            <img src="src/assets/img/logo.png" alt="">
        </a>
        <div class="user-panel">
            <a href="/Login">Login</a>
        </div>
        <div class="user-panel">
             <a href="/Register">Register</a>
        </div>
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>

        <nav class="main-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/Games">Games</a></li>
               
            </ul>
        </nav>
    </div>
</header>